.App {
  text-align: center;
}

.margin-10 {
  margin: 10px !important;
}

.frame-container {
  display: flex;
  width: 80%;
  text-align: center;
}

.frame {
  margin-bottom: 60px;
  display: flex;
  height: 5px;
  border: 1px solid black;
}

.frame-mark {
  display: flex;
  text-align: center;
  height: 15px;
  border-left: 1px solid red;
}

.clear-btn {
  height: 30px;
  width: 70px;
}

.railing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60px;
  border: 1px solid black;
}

.spindle {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  margin: 0px auto;
}
