.App {
  text-align: center;
  margin-top: 20px;
}

.margin-10 {
  margin: 10px !important;
}

.frame-container {
  height: 30px;
  width: 80%;
  margin: auto;
  /* text-align: center; */
}

.frame {
  /* text-align: center; */
  display: flex;
  height: 5px;
  border: 1px solid black;
}

.frame-mark {
  text-align: center;
  height: 15px;
  border-left: 1px solid red;

  /* position: absolute; */
}
